

/*
  HACER VARIBALES 
  POR EJEMPLO PARA TODO LO QUE SEA CENTER YA Q LO USO UNAS 24 VECES
  COMENTAR EN CSS QUE PARTE ES DE CADA PAGINA O DIVIDIR LOS CSS EN DIFERENTES DOCUMENTOS UNO PARA CADA APARTADO

  ORGANIZARLO PER SECCIONS OJO altres característiques per organitzar el CSS. [0.75]

  UTILIZAR VARIABLES
*/


/*PAGINA PRINCIPAL*/

* {
  box-sizing: border-box;
}

/* Header/logo Title */
.header {
  padding: 20px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

header{

  box-sizing: border-box;
  height: 100px;
  width: 100%;
  color: black;
  background-color: dimgray;
  display:inline-flex;
  justify-content: center;
}
.header__titulo{
  display: flex;
  align-items: center;
  margin-top: 10px;
}

a{
display: inline-flex;
justify-content: center;
font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Style the top navigation bar */
.links {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

/* Style the navigation bar links */
.links a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* Change color on hover */
.links a:hover {
  background-color: #ddd;
  color: black;
}

/*ROW, DIDE , MAIN*/
/* Column container */
.row {  
  display: flex;
  flex-wrap: wrap;

}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
  flex: 30%;
  background-color: #f1f1f1;
  padding: 20px;
}

/* Main column */
.main {
  flex: 60%;
  background-color: white;
  padding: 20px;
  height: 73vh;
}

.image{
  background-color: black;
  width: 60%;
  padding: 10px;
  height: 60%;
}

.Redes_Sociales{
  margin-top: 60px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.Redes_Sociales a {
  text-decoration: none;
  margin: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.Redes_Sociales__img {
    width: 75px;
}

.description , .img{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}


/*FOOTER*/
footer {
  padding: 8px;
  text-align: center;
  background: #ddd;
}



.main{
 width: 100%;
 align-items: center;
 padding-left: 110px;
 padding-right: 110px;
 background-color: whitesmoke;
 position: relative;
 display: inline-block;
}

.main_links{
 display: flex;
 flex-direction: column;
 align-items: center;
 margin-top: 220px;
 margin-bottom: 250px;
    
}

.main_links_pages{
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  font-family: Georgia, 'Times New Roman', Times, serif;
 }


.list{
  background-color: chocolate;
  color: inherit;
  display: flex;
  flex-direction: column;
  text-decoration: none;
  font-size: 22px;
  font-weight: bold;
  margin: 10px;
}


/*FIN PORTADA*/


/* CONOCIMIENTOS HTML*/


.lenguajes,.forma{
    display:inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
    justify-content: space-around;
}

.list h2{
 
  display: inline-flex;
  align-items: center;
  justify-content: center;

}




.leng_bd{
  display:inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
  justify-content: space-around;
}



/*FORMACIOIN ACADEMICA*/

.titulos{
  display: flex;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 2;
  justify-content: space-around;
}
.titulos_box{
  background-color: lightgrey;
  width: 310px;
  height: 240px;
  border: 1px solid green;
  padding: 10px;
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  flex: 1 1 20%;
  margin: 20px;
}



/*IDIOMAS*/

.idiomas{
  height: 100vh;
  background-color: aquamarine;
  justify-content: center;
  align-items: center;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
}


.idiomas__list__tooltip .tooltip__tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.idiomas__list__tooltip:hover .tooltip__tooltiptext {
  visibility: visible;
}

.idiomas__list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  width: 50%;
  border: 15px solid springgreen;
}


.bocadillo__Lugar {
  position: relative;
  height: 90px;
  width: 300px;
  background: white;
  box-shadow: 1px 12px 33px rgba(0, 0, 0, 0.5);
}
.bocadillo__Lugar:before {
  border: 25px solid white;
  content: '';
  border-left-color: transparent;
  border-bottom-color: transparent;
  border-right-color: transparent;
  position: absolute;
  bottom: -48px;
  left: calc(50% - 25px)
}

.bocadillo__Lugar__titulo{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 30px;
  padding-bottom: 10px;
}

.box2__titulo{
  padding: 10px;
  width: 220px;
  border-radius: 10px;
  background-color:burlywood;
  font-family: "trebuchet ms", tahoma, verdana, sans­serif;
  font-size:  1.4em;
  }


  .detalles {
    position: relative;
    background: #FFFFCC;
    max-width:250px;
    font-family:arial;
    font-size:14px;
    border: 2px solid red;
    border-radius: 12px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;  
  }

  .info{
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: yellow;
    box-shadow: 10px 10px grey;
    display: flex;
    align-items: center;
  }
  .box3 {
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
    bottom: 360px;
    right: 100px;
  }